<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/company.html">The Company</a></li>
  <li><a href="{{ root_url }}/store.html">The Store</a></li>
  <li><a href="{{ root_url }}/people.html">The People</a></li>
  <li><a href="{{ root_url }}/book.html">The Book</a></li>
  <li><a href="{{ root_url }}/author.html">The Author</a></li>
  <li><a href="{{ root_url }}/events.html">Upcoming Events</a></li>
  <li><a href="http://tiny.cc/SoldEverywhereButBorders">Order Your Copy!</a></li>
</ul>
