<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/company">The Company</a></li>
  <li><a href="{{ root_url }}/store">The Store</a></li>
  <li><a href="{{ root_url }}/people">The People</a></li>
  <li><a href="{{ root_url }}/book">The Book</a></li>
  <li><a href="{{ root_url }}/author">The Author</a></li>
  <li><a href="{{ root_url }}/events">Upcoming Events</a></li>
  <li><a href="http://tiny.cc/SoldEverywhereButBorders">Order Your Copy!</a></li>
</ul>
